<html>
    <head>
        <title>Login Form</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
	</head>
    <style>
        body {
            background: #34495e;
        }
    </style>
    <body class="container">
        <div class="row" ng-app="myApp" ng-controller="logincntrl">
            <!-- <I><h2 class="text-center"> Receiving Application</h2></I> -->
            <div class="col-md-offset-1 col-md-6 col-sm-12" >
                <div class="login">
                    <h2>Login Form</h2>
                    <hr>
					<!--Code of form started-->
                    <form class="form-horizontal" name="frm" novalidate>
                        <!--Code to validate first name is written here-->
						<div class="form-group" >
                            <label id="label" class="control-label">User Name:</label>
                            <input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Enter User Name" autocomplete="off" required />
                        </div>
						                        
						<!--Code to validate password is written here-->
                        <div class="form-group">
                            <label id="label" class="control-label">Password:</label>
                            <input type="password" class="form-control" ng-model="user.pass" name="pass" placeholder="Enter Password" autocomplete="off" ng-minlength="5" ng-maxlength="12" required>
                            <span class="msg" ng-show="frm.pass.$dirty && frm.pass.$error.minlength">password must contain atleast 5 charecters</span>
                            <span class="msg" ng-show="frm.pass.$dirty && frm.pass.$error.maxlength">max-length of password reached</span>
                        </div>
						
						
						<!--Code to validate subcenter field-->
                        <div class="form-group">
                            <label id="label" class="control-label">Subcenter:</label>
                            <select class="form-control" ng-model="user.subcenter" name="sub" required>
                                <option value="sub1">Subcenter 1</option>
                                <option value="sub2">Subcenter 2</option>
                                <option value="sub3">Subcenter 3</option>
                            </select>
                            <span class="msg" ng-show="frm.cont.$error.required">Select a value</span>
                        </div>

                        <!--Code to validate role field-->
                        <div class="form-group">
                            <label id="label" class="control-label">Role:</label>
                            <select class="form-control" ng-model="user.role" name="role" required>
                                <option value="role1">DC Associate</option>
                                <option value="role2">Supervisor</option>
                                <option value="role3">Manager</option>
                            </select>
                            <span class="msg" ng-show="frm.cont.$error.required">Select a value</span>
                        </div> 

						<!--Code to disable submit button is written here-->
 
                        <div class="form-group">
                            <input ng-disabled="frm.$invalid" class="btn" id="btn" type="submit" ng-click="call()" value="Submit">
                            <input class="btn" id="btn" type="reset" ng-click="cancel()" value="Clear">
                            <input class="btn" id="btn" type="reset" ng-click="logoff()" value="Logoff">
                        </div>
                    </form>							
                </div>
            </div>

    </body>
</html>