<!--<div ui-grid="row.entity.subGridOptions" style="height:150px;"></div>-->
    <script src="js/appforpo.js"></script>
	<div class="container">
	<div ng-controller="MainCtrl">
         <h4 style="text-align:center;">Receiving by QR Code</h4>
   <form role="form" class="form-horizontal" >
	  <h4 style="align:center;"> <u>SCAN QR CODE BELOW</u></h4>
		<div class="form-group">
		   <div class="col-sm-6">
		      <input style="align:center;" ng-model="imageName" type="image" ng-src="{{row.entity.QRCode}}" >
		    </div>
	    </div>
		
        <div class="form-group">
		    <div class="col-xs-4">
		 	 <label>Delivery Number:</label>
		      <input class="form-control" id="delnbr" type="text" id="deliveryno" ng-model="DeliveryNo" autofocus >
		    </div>
			
           <div class="col-sm-4">
		 	 <label>PO Number:</label>
		      <input type="text" id="ponbr" class="form-control" ng-disabled="!DeliveryNo" ng-model="PoNbr" required>
		    </div>
			
            <div class="col-sm-4">
		 	 <label>Item Number:</label>
		      <input type="text" id="itemnbr" class="form-control" ng-disabled="!PoNbr" ng-model="ItemNbr" required>
		    </div>
		</div>	
		
         <div class="form-group">
		    <div class="col-sm-4">
		 	 <label>Total Qty:</label>
		      <input id="totqty" class="form-control" ng-disabled="!ItemNbr" ng-model="TotQty" required>
		    </div>
			
           <div class="col-sm-4">
		 	 <label>Due Qty</label>
		      <input id="dueqty" class="form-control" ng-disabled="!TotQty" ng-model="DueQty" onfocusout="myfocusout()" required>
		    </div>
			
            <div class="col-sm-4">
		 	 <label>Qty To Receive:</label>
		      <input id="rcvqty" type="number" class="form-control" ng-disabled="!DueQty" ng-model="rcvqty" ng-pattern="/^[0-9]+$/" min=0 max="{{DueQty}}" required >
		    </div>
		</div>	

        <div class="form-group">
		  <div class="col-sm-4">
          <label>No of Pallets:</label>
          <input id="pallet" class="form-control" ng-disabled="!rcvqty" ng-model="nopallet" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
          </div>

           <div class="col-sm-4">
           <label>SlotID:</label>
           <select id="slot" class="form-control" ng-disabled="!rcvqty || !nopallet" ng-model="slotsource" ng-options="slt.slot for slt in slotid" required>
           <option value=''>Select Slot</option>
           </select>
          </div>

           <div class="col-sm-4">
		   <label for="userid">UserID:</label>
           <input id="userid" type="text" class="form-control" ng-disabled="!rcvqty || !slotsource" ng-model="useridsource" required>
          </div>
		</div>
		
   <div ng-controller="notificationController" >
           <div class="form-group">
		    <div class="col-sm-6">
	       <button class="btn btn-primary pull-left"  ng-click="successHtml(PoNbr,ItemNbr,rcvqty,slotsource.slot)">Receive</button>
		   </div>
		    <div class="col-sm-6">
            <button class="btn btn-primary btnCustom pull-right" ng-click="cancel()">Cancel</button>
			</div>
   </div>
   <script>
function myfocusout() {
    var text_box_1 = document.getElementById("delnbr");
    var text_box_2 = document.getElementById("ponbr");
    var text_box_3 = document.getElementById("itemnbr");
    var text_box_4 = document.getElementById("totqty");
    var text_box_5 = document.getElementById("dueqty");
 text_box_1.setAttribute('readonly', 'readonly');
 text_box_2.setAttribute('readonly', 'readonly');
 text_box_3.setAttribute('readonly', 'readonly');
 text_box_4.setAttribute('readonly', 'readonly');
 text_box_5.setAttribute('readonly', 'readonly');
}
</script>
   </div> 
</form>
</div>
</div>

