<!--<div ui-grid="row.entity.subGridOptions" style="height:150px;"></div>-->
<html ng-app="app">
<body>  
	<div class="container">
	<div ng-controller="MainCtrl">
         <h4 style="text-align:center;"><u>Receive by QR Code[Scan QR Code Above]</u></h4>
   <form role="form" class="form-horizontal" >
	<!--	<div class="form-group">-->
		 <!--  <div class="col-sm-6">-->
		  <!--    <img height="100" width="100" ng-model="imageName" type="image" ng-src="{{row.entity.QRCode}}" >-->
		  <!--  </div>-->
	  <!--  </div>-->
		
        <div class="form-group">
		    <div class="col-xs-4">
		 	 <label>Delivery Number:</label>
		      <input class="form-control" id="delnbr" type="text" id="deliveryno" ng-model="DeliveryNo" autofocus >
		    </div>
			
           <div class="col-sm-4">
		 	 <label>PO Number:</label>
		      <input type="text" id="ponbr" class="form-control" ng-disabled="!DeliveryNo" ng-model="PoNbr" required>
		    </div>
			
            <div class="col-sm-4">
		 	 <label>Item Number:</label>
		      <input type="text" id="itemnbr" class="form-control" ng-disabled="!PoNbr" ng-model="ItemNbr" required>
		    </div>
		</div>	
		
         <div class="form-group">
		    <div class="col-sm-4">
		 	 <label>Total Qty:</label>
		      <input id="totqty" class="form-control" ng-disabled="!ItemNbr" ng-model="TotQty" required>
		    </div>
			
           <div class="col-sm-4">
		 	 <label>Due Qty</label>
		      <input id="dueqty" class="form-control" ng-disabled="!TotQty" ng-model="DueQty" onfocusout="myfocusout()" required>
		    </div>
			
            <div class="col-sm-4">
		 	 <label>Qty To Receive:</label>
		      <input id="rcvqty" type="number" class="form-control" ng-disabled="!DueQty" ng-model="rcvqty" ng-pattern="/^[0-9]+$/" min=0 max="{{DueQty}}" required >
		    </div>
		</div>	

        <div class="form-group">
		  <div class="col-sm-4">
          <label>No of Pallets:</label>
          <input id="pallet" class="form-control" ng-disabled="!rcvqty" ng-model="nopallet" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
          </div>

           <div class="col-sm-4">
           <label>SlotID:</label>
           <select id="slot" class="form-control" ng-disabled="!rcvqty || !nopallet" ng-model="slotsource" ng-options="slt.slot for slt in slotid" required>
           <option value=''>Select Slot</option>
           </select>
          </div>

           <div class="col-sm-4">
		   <label for="userid">UserID:</label>
           <input id="userid" type="text" class="form-control" value={{row.entity.UserId}} readonly>
          </div>
		</div>
		
   <div>
           <div class="form-group">
		    <div class="col-md-12">
	         <button class="btn-lg btn-primary center-block" ng-disabled = "!slotsource" ng-click="show = 1">Receive</button>
		    </div>
			 <div class="col-sm-8" style="margin-top:10px;width:1000px">
             <div ng-show="show==1" class="alert alert-success">
			 <a class="close" data-dismiss="alert">×</a>
              <strong>Success! PO {{PoNbr}} for Item {{ItemNbr}} Received Successfully. Label {{PoNbr}}{{ItemNbr}}-{{slotsource.slot}} has been generated!!</strong>
			 </div>
            </div>	
			</div>
   </div>
   <script>
function myfocusout() {
    var text_box_1 = document.getElementById("delnbr");
    var text_box_2 = document.getElementById("ponbr");
    var text_box_3 = document.getElementById("itemnbr");
    var text_box_4 = document.getElementById("totqty");
    var text_box_5 = document.getElementById("dueqty");
 text_box_1.setAttribute('readonly', 'readonly');
 text_box_2.setAttribute('readonly', 'readonly');
 text_box_3.setAttribute('readonly', 'readonly');
 text_box_4.setAttribute('readonly', 'readonly');
 text_box_5.setAttribute('readonly', 'readonly');
}
</script>
   </div> 
       <script src="js/scanreceive.js"></script>
</form>
</div>
</div>
</body>
</html>
